@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  font-family: 'Lato', 'Roboto Slab';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #F8FFFE, #FF7F4D 80%);
  display: flex;
  justify-content: center;
  flex: 1;
  padding-bottom: 5%;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-family: 'Roboto Slab', serif;
}

p{
  margin-left: 10px;
  margin-top: 10px;
}

.TodoWrapper {
  background: #5E1B89;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
  0 6px 20px rgba(0, 0, 0, 0.19);
}

.TodoForm {
  font-style: normal;
  font-size: 15px;
  width: 100%;
  padding-bottom: 5%;
}

.todo-btn {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  --bs-btn-hover-bg: #5E1B89;
  --bs-btn-active-bg: rgba(255, 127, 77, .5);
  border: none;

}

.add{
  font-weight: 800;
  font-size: 17px;
  height: 30px;
  width: 30px;
  padding: 3px 7px 5px 7px !important;
  margin-left: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #FF7F4D;
  box-shadow: 0 0 0 5px rgba(255, 127, 77, .5), 0 0 0 10px rgba(255, 127, 77, .3) !important;
}

.edit{
  background-color: #FF7F4D;
  --bs-btn-hover-bg: #9D71BC;
  box-shadow: 0 0 0 3px rgba(255, 127, 77, .5) !important;
}

.del-completed{
  align-self: flex-start;
  margin-bottom: 20px;
  background-color: rgb(255, 127, 77);
  border-radius: 60vh;
  border: solid rgb(255, 127, 77, 0.9);
  padding: 8px 13px 8px 13px;
  font-size: 10px;
  font-weight: 700;
  --bs-btn-hover-bg: #9D71BC;
  --bs-btn-hover-border-color: 0 0 0 5px rgba(255, 127, 77, .5) !important;;
}

.mb-3{
  margin-bottom: 0;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9D71BC;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.form-check-input:checked{
  background-color: #5E1B89;
  border-color: #FF7F4D;
}

.form-check-input:focus {
  border-color: #FF7F4D;
  box-shadow: 0 0 0 .25rem rgba(255, 127, 77, .3);
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
} 

.form-control{
  width: 30rem;
  width: 100%;
  padding: 5px 8px !important;
  height: calc(3.5rem + calc(var(--bs-border-width)* 2));
  min-height: calc(3.5rem + calc(var(--bs-border-width)* 2));
  line-height: 1.25;
  display: block;
}

.form-control:focus {
  border-color: none;
  box-shadow: 0 0 0 .25rem rgba(255, 127, 77, .3);
}

.form-container {
  display: flex !important;
  gap: 1rem; /* Adjust the gap as needed */
}

.form-floating {
  flex: 1 !important;
}

.input-time {
  width: 10rem !important;
}

.input-placeholder{
  color: #5E1B89;
  opacity: 30%;
}

.todo-icon{
  font-size: 30px;
  margin-right: 10px;
  color: #FF7F4D;
}

.custom-dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 127, 77, 0);
  border: 2px solid #FF7F4D;
  padding: 0;
  margin-right: 9px;
  color: #FF7F4D !important;
  --bs-btn-hover-bg: #9D71BC;
  --bs-btn-active-bg: #9D71BC;
  --bs-btn-hover-border-color: #FF7F4D;
  --bs-btn-active-border-color: #FF7F4D;
}

.custom-dropdown-toggle::after {
  display: none; /* Hide the default dropdown arrow */
}

.custom-dropdown-toggle .fa-ellipsis-v {
  font-size: 20px;
}

.dropdown-menu{
  background-color: #cfc8c1;
}

.dropdown-item{
  color: #5E1B89;
}

.fs-5{
  color: #5E1B89;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.modal-body{
  color: #5E1B89;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.details-head{
  color: #F8FFFE;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.modal-head{
  background: linear-gradient(to right, #5E1B89, #FF7F4D 80%);;
}

.modal-footer .btn.btn-primary.del-modal1{
  background-color: #5E1B89 !important;
  border: solid 1px #FF7F4D;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5); /* Adjust this value to lighten the icon */
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5); /* Adjust this value to lighten the icon */
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }

  p{
    margin-top: 15px;
    font-size: 13px;
  }

  .TodoWrapper {
    padding: 1rem;
    width: 95%;
  }

  .todo-btn {
    font-size: 0.8rem;
  }

  .del-completed {
    padding: 4px 8px;
    font-size: 0.5rem;
  }

  .Todo {
    padding: 0.3rem;
  }

  .fa-trash {
    margin-left: 0.5rem;
  }

  .form-control{
    width: 15rem;
    padding: 5px 8px !important;
    font-size: 12px;
    line-height: 5px
  }

  .input-placeholder{
    font-size: 12px;
    color: #5E1B89;
    opacity: 30%;
    line-height: 5px;
  }

  .todo-icon{
    font-size: 22px;
  }

  .tasks{
    padding: 0px 13px;
  }

  #floatingInput{
    min-height: 45px !important;
    height: 30px !important;
  }

  .add{
    height: 15px;
    width: 15px;
    margin-right: 30px;
  }

  .edit{
    height: 25px;
    width: 50px;
    margin-right: 20px;
    font-size: 12px !important;
  }
}